Share new articles on Instagram using gemini for content creation.json
{
    "name": "Share new articles on LinkedIn using ChatGPT for content creation",
    "flow": [
        {
            "id": 1,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://www.reddit.com/r/gaming/.rss",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 288,
                    "y": -53
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "media:thumbnail",
                                "spec": [
                                    {
                                        "name": "props",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "url"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ],
                                "type": "collection",
                                "label": "media:thumbnail"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4944078
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "You are a social media expert for a classy women's clothing boutique.\r\nUse the following article to create a stylish Instagram caption with 5 classy fashion-related hashtags.\r\n\r\nArticle Title: {{1.title}}\r\nArticle Summary: {{1.summary}}\r\n\r\nCaption:",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "thinkingConfig": {}
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "You are a social media expert for a classy women's clothing boutique.\r\nUse the following article to create a stylish Instagram caption with 5 classy fashion-related hashtags.\r\n\r\nArticle Title: {{1.title}}\r\nArticle Summary: {{1.summary}}\r\n\r\nCaption:"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 710,
                    "y": -50
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Mime Type"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "instagram-business:CreatePostPhoto",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4944243
            },
            "mapper": {
                "caption": "{{7.result}}",
                "accountId": "17841475698170207",
                "image_url": "https://m.media-amazon.com/images/I/71f+O2SKiFL._AC_SY300_SX300_.jpg"
            },
            "metadata": {
                "designer": {
                    "x": 1175,
                    "y": -54
                },
                "restore": {
                    "expect": {
                        "accountId": {
                            "mode": "chose",
                            "label": "Comment automation (@studentbscs2022)"
                        },
                        "user_tags": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "facebook"
                            },
                            "label": "My Facebook connection (Haya Sultan)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "accountId",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "image_url",
                        "type": "url",
                        "label": "Photo URL",
                        "required": true
                    },
                    {
                        "name": "caption",
                        "type": "text",
                        "label": "Caption"
                    },
                    {
                        "name": "user_tags",
                        "spec": [
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username",
                                "required": true,
                                "validate": {
                                    "pattern": "^(?!@)"
                                }
                            },
                            {
                                "name": "x",
                                "type": "number",
                                "label": "X position",
                                "required": true,
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "y",
                                "type": "number",
                                "label": "Y position",
                                "required": true,
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            }
                        ],
                        "type": "array",
                        "label": "User Tags"
                    },
                    {
                        "name": "location_id",
                        "type": "text",
                        "label": "Location ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}